<!--
# Copyright 2017 IBM Corp. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-->
<!doctype html>
<html lang="en">
<%- include('head') %>
<body>
	<%- include('header') %>

	<section>
		<h1>Edit Recipient</h1>		

		<%= locals.message %><br>	

		<% 
		var recipient; 
		var recipients = locals.user.recipients;
		if (recipients) { 
			for(var i=0; i < locals.user.recipients.length; i++) { 
				if (recipients[i].token == locals.recipienttoken && 
				    recipients[i].currentRecipientFirstName == locals.recipientfname &&
					recipients[i].currentRecipientLastName == locals.recipientlname) { 
					recipient = recipients[i];
				} 
			} 
		} 
		%>		

		<div>
		
		
		<% if( !recipient ) { %>
			<table>
			<tr><td><a href="./recipients"><button class="button button1">Add Recpients</button></a></td></tr>
			</table>
		<% } else { %>
			<form method="post" action="./editrecipient">	
			<input type="hidden" name="_token" value="<%=recipient.token%>">
			<input type="hidden" name="_fname" value="<%=recipient.currentRecipientFirstName%>">
			<input type="hidden" name="_lname" value="<%=recipient.currentRecipientLastName%>">
			<table>
			<tr><td>Mobile # or Email</td><td><%=recipient.token%></td></tr>
			<tr><td>First Name</td><td><input type="text" name="fname" value="<%=recipient.currentRecipientFirstName%>"></input></td></tr>
			<tr><td>Last Name</td><td><input type="text" name="lname" value="<%=recipient.currentRecipientLastName%>"></input></td></tr>	
					
			<tr><td colspan="2"><input type="submit" value="OK"/>&nbsp;<a href="./viewrecipient?token=<%=recipient.token%>&fname=<%=recipient.currentRecipientFirstName%>&lname=<%=recipient.currentRecipientLastName%>"><input type="button" value="Cancel"/></a></td></tr></td></tr>
			</table>
			</form>
		<% } %>		
		</div>

	</section>
</body>
</html>